<div layout="row">
    <md-card flex>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{employee.name}}</span>
                <span class="md-subhead">{{employee.created_at | date: 'dd.MM.yyyy' }}</span>
            </md-card-title-text>
        </md-card-title>
        <md-list>
            <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                    <h4>Контакты</h4>
                    <p>{{employee.contacts}}</p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                    <h4>Статус</h4>
                    <p>{{employee.is_active | activeOrNot}}</p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                    <h4>Желаемая зарплата</h4>
                    <p>{{employee.salary}}</p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-show="employee.skills.length">
                <div class="md-list-item-text" layout="column">
                    <h4 layout="row">Навыки</h4>
                    <div>
                        <md-chips class="chips-list" ng-repeat="skill in employee.skills">
                            <md-chip layout="column">{{skill}}</md-chip>
                        </md-chips>
                    </div>
                </div>
            </md-list-item>
        </md-list>
        <md-card-content>
            <div layout="row" layout-align="end center">
                <md-button class="md-raised" ng-click="goBack()">
                    Назад
                </md-button>
                <md-button class="md-primary md-raised" ng-click="matchVacancies(employee.id)">
                    Найти вакансии
                </md-button>
            </div>
        </md-card-content>
    </md-card>
</div>

<div layout="column" layout-gt-sm="row" ng-show="matchesFound">
    <md-card flex="50">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Полностью подходящие вакансии</span>
            </md-card-title-text>
        </md-card-title>
        <div layout layout-padding ng-show="matches.full.length == 0">
            <p flex>Нет результатов.</p>
        </div>
        <md-list ng-repeat="match in matches.full">
            <md-list-item>
                <div class="md-list-item-text">
                    <md-button  class="md-primary" ui-sref="viewVacancy({id: {{match.id}} })">{{match.title}}</md-button>
                </div>
            </md-list-item>
        </md-list>
    </md-card>

    <md-card flex="50">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Частично подходящие вакансии</span>
            </md-card-title-text>
        </md-card-title>
        <div layout layout-padding ng-show="matches.partial.length == 0">
            <p flex>Нет результатов.</p>
        </div>
        <md-list ng-repeat="match in matches.partial">
            <md-list-item>
                <div class="md-list-item-text">
                    <md-button  class="md-primary" ui-sref="viewVacancy({id: {{match.id}} })">{{match.title}}</md-button>
                </div>
            </md-list-item>
        </md-list>
    </md-card>
</div>