<md-toolbar>
  <div class="md-toolbar-tools">
    <h1>Employment Agency</h1>
    <span flex></span>
    <span>

    </span>
  </div>
  <md-tabs md-selected="tabs.selectedIndex">
    <md-tab id="tab1" aria-controls="tab1-content">Вакансии</md-tab>
    <md-tab id="tab2" aria-controls="tab2-content">Соискатели</md-tab>
  </md-tabs>
</md-toolbar>

